<ion-app>
  <ion-split-pane contentId="main-content" when="false">
    <!-- El menú lateral ahora vive aquí, fuera de las páginas individuales -->
    <ion-menu #menu contentId="main-content" type="overlay" side="end">
      <ion-header>
        <div class="menu-header">
          <ion-avatar class="user-avatar-menu">
            <ion-icon name="person-circle" class="user-icon"></ion-icon>
          </ion-avatar>
          <ion-label>
            <h2>Nombre de Usuario</h2>
            <p>usuario@utcj.edu.mx</p>
          </ion-label>
        </div>
      </ion-header>

      <ion-content>
        <ion-list class="menu-list">
          <!-- Usamos routerLink para la navegación y routerLinkActive para marcar el item activo -->
          <ion-item button [routerLink]="['/modulo1']" routerLinkActive="menu-item-active" (click)="menu.close()">
          <ion-item button [routerLink]="['/modulo1']" routerLinkActive="menu-item-active" routerDirection="root" (click)="menu.close()">
            <ion-icon name="folder-outline" slot="start"></ion-icon>
            <ion-label>Módulo 1</ion-label>
          </ion-item>
          <ion-item button [routerLink]="['/modulo2']" routerLinkActive="menu-item-active" (click)="menu.close()">
          <ion-item button [routerLink]="['/modulo2']" routerLinkActive="menu-item-active" routerDirection="root" (click)="menu.close()">
            <ion-icon name="document-text-outline" slot="start"></ion-icon>
            <ion-label>Módulo 2</ion-label>
          </ion-item>
          <ion-item button [routerLink]="['/modulo3']" routerLinkActive="menu-item-active" (click)="menu.close()">
          <ion-item button [routerLink]="['/modulo3']" routerLinkActive="menu-item-active" routerDirection="root" (click)="menu.close()">
            <ion-icon name="bar-chart-outline" slot="start"></ion-icon>
            <ion-label>Módulo 3</ion-label>
          </ion-item>
        </ion-list>
      </ion-content>

      <ion-footer>
        <ion-item button lines="none" class="menu-item">
          <ion-icon name="settings-outline" slot="start"></ion-icon>
          <ion-label>Configuración</ion-label>
        </ion-item>
        <ion-item button lines="none" class="menu-item logout-item">
          <ion-icon name="log-out-outline" slot="start"></ion-icon>
          <ion-label>Cerrar Sesión</ion-label>
        </ion-item>
      </ion-footer>
    </ion-menu>

    <!-- El router-outlet ahora está dentro del split-pane -->
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>